src/wsdl/localhost_8080/BussinessTier/BussinessService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bussinesstier.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bussinesstier.mycompany.com/" name="BussinessService">
<types>
<xsd:schema>
<xsd:import namespace="http://classes/" schemaLocation="http://localhost:8080/BussinessTier/BussinessService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bussinesstier.mycompany.com/" schemaLocation="http://localhost:8080/BussinessTier/BussinessService?xsd=2"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="getOne">
<part name="parameters" element="tns:getOne"/>
</message>
<message name="getOneResponse">
<part name="parameters" element="tns:getOneResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="addSale">
<part name="parameters" element="tns:addSale"/>
</message>
<message name="addSaleResponse">
<part name="parameters" element="tns:addSaleResponse"/>
</message>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="addStock">
<part name="parameters" element="tns:addStock"/>
</message>
<message name="addStockResponse">
<part name="parameters" element="tns:addStockResponse"/>
</message>
<message name="addVendor">
<part name="parameters" element="tns:addVendor"/>
</message>
<message name="addVendorResponse">
<part name="parameters" element="tns:addVendorResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getAllSales">
<part name="parameters" element="tns:getAllSales"/>
</message>
<message name="getAllSalesResponse">
<part name="parameters" element="tns:getAllSalesResponse"/>
</message>
<message name="updatePassword">
<part name="parameters" element="tns:updatePassword"/>
</message>
<message name="updatePasswordResponse">
<part name="parameters" element="tns:updatePasswordResponse"/>
</message>
<message name="getAllCategory">
<part name="parameters" element="tns:getAllCategory"/>
</message>
<message name="getAllCategoryResponse">
<part name="parameters" element="tns:getAllCategoryResponse"/>
</message>
<message name="getAllStocks">
<part name="parameters" element="tns:getAllStocks"/>
</message>
<message name="getAllStocksResponse">
<part name="parameters" element="tns:getAllStocksResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="getAllItems">
<part name="parameters" element="tns:getAllItems"/>
</message>
<message name="getAllItemsResponse">
<part name="parameters" element="tns:getAllItemsResponse"/>
</message>
<message name="getAllOrders">
<part name="parameters" element="tns:getAllOrders"/>
</message>
<message name="getAllOrdersResponse">
<part name="parameters" element="tns:getAllOrdersResponse"/>
</message>
<message name="getAllVendors">
<part name="parameters" element="tns:getAllVendors"/>
</message>
<message name="getAllVendorsResponse">
<part name="parameters" element="tns:getAllVendorsResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getLastInsertedId">
<part name="parameters" element="tns:getLastInsertedId"/>
</message>
<message name="getLastInsertedIdResponse">
<part name="parameters" element="tns:getLastInsertedIdResponse"/>
</message>
<message name="updateProductImage">
<part name="parameters" element="tns:updateProductImage"/>
</message>
<message name="updateProductImageResponse">
<part name="parameters" element="tns:updateProductImageResponse"/>
</message>
<portType name="BussinessService">
<operation name="update">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/updateRequest" message="tns:update"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getOne">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getOneRequest" message="tns:getOne"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getOneResponse" message="tns:getOneResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/loginRequest" message="tns:login"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="addSale">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addSaleRequest" message="tns:addSale"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addSaleResponse" message="tns:addSaleResponse"/>
</operation>
<operation name="addCategory">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="addStock">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addStockRequest" message="tns:addStock"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addStockResponse" message="tns:addStockResponse"/>
</operation>
<operation name="addVendor">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addVendorRequest" message="tns:addVendor"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addVendorResponse" message="tns:addVendorResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getAllSales">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllSalesRequest" message="tns:getAllSales"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllSalesResponse" message="tns:getAllSalesResponse"/>
</operation>
<operation name="updatePassword">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/updatePasswordRequest" message="tns:updatePassword"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/updatePasswordResponse" message="tns:updatePasswordResponse"/>
</operation>
<operation name="getAllCategory">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllCategoryRequest" message="tns:getAllCategory"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllCategoryResponse" message="tns:getAllCategoryResponse"/>
</operation>
<operation name="getAllStocks">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllStocksRequest" message="tns:getAllStocks"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllStocksResponse" message="tns:getAllStocksResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getAllItems">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllItemsRequest" message="tns:getAllItems"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllItemsResponse" message="tns:getAllItemsResponse"/>
</operation>
<operation name="getAllOrders">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllOrdersRequest" message="tns:getAllOrders"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
</operation>
<operation name="getAllVendors">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllVendorsRequest" message="tns:getAllVendors"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllVendorsResponse" message="tns:getAllVendorsResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getLastInsertedId">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getLastInsertedIdRequest" message="tns:getLastInsertedId"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/getLastInsertedIdResponse" message="tns:getLastInsertedIdResponse"/>
</operation>
<operation name="updateProductImage">
<input wsam:Action="http://bussinesstier.mycompany.com/BussinessService/updateProductImageRequest" message="tns:updateProductImage"/>
<output wsam:Action="http://bussinesstier.mycompany.com/BussinessService/updateProductImageResponse" message="tns:updateProductImageResponse"/>
</operation>
</portType>
<binding name="BussinessServicePortBinding" type="tns:BussinessService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVendor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStocks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllVendors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastInsertedId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BussinessService">
<port name="BussinessServicePort" binding="tns:BussinessServicePortBinding">
<soap:address location="http://localhost:8080/BussinessTier/BussinessService"/>
</port>
</service>
</definitions>